body {
    background-image: url("/sinara_servlet_war_exploded/Paginas-Login/img/bloop.png"), url('/sinara_servlet_war_exploded/Paginas-Login/img/eta.png');
    background-color: #8585D4;
    background-size: contain, cover;
    background-position: right 48vw center, center;
    background-repeat: no-repeat;
    background-attachment: none, fixed;
}

.cadastro {
    background-color: #0B1B54;
    color: white;
    height: 100%;
    margin-left: 50%;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titulo {
    margin: 10px 0 25px;
}

form {
    width: 50%;
}

