/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

:root {
    
    /* Paleta de cores */

    --laranja-sinara:#FF7655; 
    --salmao-sinara:#FFC1B2; 
    --azul-sinara07:#384994; 
    --azul-claro-gradient:#4082A7;
    --fonte-azul:#0B1854;
    --branco:#fff;
    --laranja-hover:#D3422C;
    --cor-borda:#BFC7E8;

    /* Tamanhos de fonte */

    --titulos-secoes: 2.3rem;
    --descricoes: 1.8rem;

    /* Max width da tela*/

    --tamanho-tela: 1400px;

}

/* Header */

header { 
    background: var(--branco);
    padding: 1.5rem 3rem;
}

#comece {
    background-color: var(--laranja-sinara);
    color: var(--branco);
}

#comece_ja {
    color: var(--branco);
}

.cabecalho {
    display: flex;
    margin: 0 auto;
    max-width: var(--tamanho-tela);
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.cabecalho > img {
    max-width: 5rem;
    margin-right: auto;
}

.botao-header {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    min-width: 8rem;
    text-align: center;
    border-radius: 8px;
    border:none;
    transition: background-color 0.4s;
}

.botoes-nav {
    display: flex;
    align-items: center; 
    gap: 1.5rem; 
}

#ajuda {
    background: none;
    color: var(--azul-sinara07)
}

#ajuda:hover {
    background-color: #D9E9F4;
    cursor: pointer
}

#contato {
    color: var(--fonte-azul);
    background-color: #D9DEF2;
}

#comece:hover {
    background-color: var(--laranja-hover);
    cursor: pointer;
}

#contato:hover {
    background-color: #ACB7DF;
    cursor: pointer;
}

#a_contato {
    color: var(--azul-sinara07);
}

/* Primeira Seção */
a {
    text-decoration: none;
}

.primeira-secao {
    overflow: hidden;
}

#titulo-principal {
    color: var(--branco);
    font-weight: 600;
    font-size: 3rem;
}

.titulos-secao {
    margin-left: 8.5vw;
    font-size: 2.5rem;
    margin-bottom: 12vh;
    font-size: var(--titulos-secoes);
    color: var(--fonte-azul);
}

#centrais-ajuda {
    margin-left: 2vw;
}

.primeira-secao::before {
    content: "";
    position: absolute;
    top: 16vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/sinara_servlet_war_exploded/imagens/bolhas-ajuda.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    width: 100%;
    z-index: 1;
}

.container-secao1 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5em;
}

#container-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#subtitulo {
    margin-top: 1rem;
    color: var(--branco);
    font-size: 1.7rem;
}

#barra-pesquisa {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-pesquisa input {
    width: 40rem;
    height: 4rem;
    border: none;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 6rem; 
    font-size: 1.2rem;
}

#barra-pesquisa input:focus {
    outline: none;
}

#botao-pesquisar {
    position: absolute;     
    right: 25px; 
    top: 50%;
    transform: translateY(-50%);
    height: 3.2rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #ff6f5e;
    color: var(--branco);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

#botao-pesquisar:hover {
    background-color: var(--laranja-hover);
}

.primeira-secao {
    background: linear-gradient(to right ,#395197, #4182A8);
    padding-bottom: 5vh;
}

#divisão-ondas {
    width: 100%;
    margin-bottom: 15vh;
    position: relative;
    bottom: .3vh;
    user-select: none; 
    -webkit-user-drag: none; 
    pointer-events: none;
}

/* Segunda seção */

.container-pai {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 25vh;
}

.container1, .container2 {
    display: flex;
    gap: 10rem;
}

.categorias {
    border: 3px solid var(--cor-borda);
    width: 30rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    transition: transform 0.3s ease;
}

.categorias:hover {
    transform: scale(1.1);
}

.nomes-categorias {
    font-size: var(--descricoes);
}

.icones-categorias {
    margin-right: 2rem;
}

.container-contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 12rem;
}

.redes {
    border: 3px solid var(--cor-borda);
    width: 25rem;
    padding-left: 30px;
    font-size: var(--descricoes); 
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--fonte-azul);
}

#instagram {
    border-top: 15px solid;
    border-image: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
    border-image-slice: 1;
}

#email {
    border-top: 15px solid;
    border-image: linear-gradient(to right,#0563B5,  #28A9E8, #50DAFD);
    border-image-slice: 1;
}

#email:hover {
    background: linear-gradient(to right,#0563B5,  #28A9E8, #50DAFD);
    color: var(--branco);
}

#instagram:hover {
    background: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
    color: var(--branco);
}

#whatsapp:hover {
    background:linear-gradient(to right, #2DC94F, #52F15D);
    color: var(--branco);
}

#whatsapp {
    border-top: 15px solid;
    border-image: linear-gradient(to right, #2DC94F, #52F15D);
    border-image-slice: 1;
}

/* Footer */

footer {
    background-color: var(--azul-sinara07);
    padding: 50px;
    color: var(--branco);
    text-align: center;
}

@media (max-width: 768px) {
    header {
        padding: 1rem 1.5rem;
    }

    .cabecalho {
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .cabecalho > img {
        margin-right: 0;
        scale: 90%;
    }

    .botoes-nav {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        margin-right: 0;
        width: 100%; 
    }

    .botao-header {
        padding: 0.8rem;
        font-size: 0.9rem;
        width: auto;
        min-width: 6rem;
        flex: 1 1 auto; 
        text-align: center;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container1, .container2 {
        flex-direction: column;
        gap: 5rem;
    }

    .container-contatos {
        flex-direction: column;
        gap: 3rem;
    }

    .titulos-secao {
        text-align: center;
        position: relative;
        right: 2vw;
    }
}