#botao-adicionar{    
    background: #FF7A59;
    color: white;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
#botao-adicionar:hover {
    background: var(--laranja-hover);
}
a{
    text-decoration: none;
}
#container-titulo-botoes{
    display: flex;
    margin: 0 auto;
    margin-bottom: 5vh;
}
#container-adicionar{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#container{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #BFD4E3;
    box-shadow: 0 6px 15px rgba(191, 212, 227, 0.51);
    transition: 0.3s ease;
    height: 50vh;
    width: 47.5vw;
    margin: 0 auto;
    padding: 2rem 8rem;
}
table{
    margin: 0 auto;
    padding: 2rem;
 
}
th{
    color: var(--fonte-azul);
    font-size: 1.4rem;
    padding-right: 10vw;
    padding-bottom: 5vh;
}
td{
    color: var(--fonte-azul);
    font-size: 1.2rem;
    padding-right: 10vw;
}
 
/* Janela de adicionar administrador */
 
#btnAdicionarFunc {
    background: #FF7A59;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
 
#btnAdicionarFunc:hover {
    background: var(--laranja-hover);
}
 
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
 
.modal-content {
    background: #fff;
    padding: 45px;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}
 
.modal-content h2 {
    color: #002E66;
    margin-bottom: 25px;
    font-weight: bold;
}
 
.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1.5px solid #C5D7E0;
    border-radius: 10px;
    padding: 6px 10px;
 
}
 
.input-group img {
    width: 22px;
    margin-right: 10px;
}
 
.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    padding-right: 100px;
}